@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.headerNav{
    height: 5vh;
    width: 100%;
    background-color: white;
    z-index: 1;

    position: fixed;
    top:0;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;

    button{
        margin: 0 10px;

        border:none;
        background-color: transparent;
        color:black;
        font-weight:500;
        cursor: pointer;
    }

    .navBox{
        width: 65px;
        height: 4px;
        background-color: black;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 70%;
        translate: -110%;
        transition: 0.3s;
    }

}
.main{
    // background-color: green;
    width: 100%;
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1vh 1vh;
    flex-direction: column;
    transition: 0.5s;

        .postBox{
            // background-color: red;
            margin: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width:max-content;
            border-radius: 20px;
            padding-bottom: 20px;

            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            img{
                border-radius: 20px;
            }

            .postInfo{
                width: 95%;
                // background-color: blue;
                height: 30px;
                display: flex;
                justify-content:flex-start;
                align-items: center;

                button{
                    border: none;
                    background-color: transparent;
                    font-size: 20px;
                    margin: 0 5px;
                }
            }

            .counter{
                width: 93%;

                .count{
                    display: flex;
                    justify-content: left;
                    font-size: 12px;
                    font-weight: 600;
                }
            }

            .commentBox{
                margin-top: 10px;
                display: flex;
                justify-content: left;
                align-items: center;
                // background-color: tomato;
                width: 95%;

                i{
                    font-size: 20px;
                    background-color: rgb(234, 234, 234);
                    padding: 8px 10px;
                    border-radius: 50px;
                }
                input{
                    width: 250px;
                    height: 30px;
                    border-radius: 10px;
                    // border: 2px solid rgb(193, 193, 193);
                    border:none;
                    background-color: rgb(234, 234, 234);
                    margin-left: 10px;
                    text-indent: 10px;
                    outline: none;
                }
            }
        }



}

.loadingBox{
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom:-50px;
    width: 100%;
    height: 50px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    i{
        margin: 0 5px;
    }
    i:nth-child(1){
        animation-name: dot1;
        animation-duration: 1s;  
        animation-iteration-count: infinite;      
    }
    i:nth-child(2){
        animation-name: dot2;
        animation-duration: 1s;
        animation-iteration-count: infinite;  
        animation-delay: 0.1s;
    }
    i:nth-child(3){
        animation-name: dot3;
        animation-duration: 1s;
        animation-iteration-count: infinite;  
        animation-delay: 0.2s;
    }
}

.show{
        bottom:30px;
}





@keyframes dot1{
    0%
        {
            transform: translateY(0px)
        }

    50%
        {
            transform: translateY(-10px)
        }
    
    100%
        {
            transform: translateY(0px)
        }
    
}

@keyframes dot2{
    0%
        {
            transform: translateY(0px)
        }

    50%
        {
            transform: translateY(-10px)
        }
    
    100%
        {
            transform: translateY(0px)
        }
    
}

@keyframes dot3{
    0%
        {
            transform: translateY(0px)
        }

    50%
        {
            transform: translateY(-10px)
        }
    
    100%
        {
            transform: translateY(0px)
        }
    
}



.footerNav{
    height: 5vh;
    width: 100%;
    background-color: rgb(255, 255, 255);

    position: fixed;
    bottom:0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button{
        border:none;
        background-color: transparent;
        font-size: 18px;
        cursor: pointer;

        i{
            pointer-events: none;
        }
    }
    button:focus{
        color:black;
    }
    .navBtn{
        color:rgb(46, 46, 46);
        transition: 0.5s;
    }

    .active{
        color:pink;
    }
}